#canvasContainer {
    width: 100%;
    height: 100%;
    text-align:center;
 }
 
 canvas {
    display: inline;
 }

 .notShowing{
    display: none;
 }

 .invisible{
    visibility: hidden;
 }

 div{
    margin-top: 10px;
 }

 #resultDiv{
    margin: auto;
 }